{% extends 'base.html' %}


{% block content %}

<div class="container text-center">
<div class="row">
    <div class="col">
        <h1>About Me!</h1>
        <p>Hi my name is Ivaneisha, but you can call me Ivy! I am a sophomore computer
            science major at Howard University. I am interesting in software engineering, more 
            specifically web development. I created this website to serve as a document
            of my educational endeavors.
        </p>
    </div>
    <div class="col">
        <img src='/static/Ivys_app/Ivaneisha_Lee (1).png' height=200 alt="My image">
    </div>
</div>
{% endblock %}  